/* variables.scss */

:root {
  --bg-light-1: hsl(0, 0%, 100%);
  --bg-light-2: hsl(0, 0%, 90.2%);
  --bg-light-3: hsl(0, 0%, 80%);
  --ink-on-light-1: hsl(0, 0%, 20%);
  --ink-on-light-2: hsl(0, 0%, 30.2%);
  --ink-on-light-3: hsl(0, 0%, 40%);
  --border-ink-on-light-1: hsl(0, 0%, 25.1%);
  --border-ink-on-light-2: hsl(0, 0%, 35.29%);
  --border-ink-on-light-3: hsl(0, 0%, 45.1%);
  /*
  --bg-info-on-light: hsl(240, 100%, 65.1%);
  --bg-success-on-light: hsl(120, 100%, 94.9%);
  --bg-warning-on-light: ;
  --bg-danger-on-light: ;
  --ink-info-on-light: hsl(240, 100%, 35.1%);
  --ink-success-on-light: hsl(120, 100%, 25.1%);
  --ink-warning-on-light: ;
  --ink-danger-on-light: ;
  --border-ink-info-on-light: hsl(240, 49.8%, 50%);
  --border-ink-success-on-light: hsl(120, 29.92%, 50.2%);
  --border-ink-warning-on-light: ;
  --border-ink-danger-on-light: ;
  */
  --bg-1: var(--bg-light-1);
  --bg-2: var(--bg-light-2);
  --bg-3: var(--bg-light-3);
  --ink-1: var(--ink-on-light-1);
  --ink-2: var(--ink-on-light-2);
  --ink-3: var(--ink-on-light-3);
  --border-ink-1: var(--border-ink-on-light-1);
  --border-ink-2: var(--border-ink-on-light-2);
  --border-ink-3: var(--border-ink-on-light-3);
  
  --type-scale-down-2: .85em;
  --type-scale-down-1: .95em;
  --type-scale-base: 1em;
  --type-scale-up-1: 1.25em;
  --type-scale-up-2: 1.5em;
  --type-scale-up-3: 1.75em;
}
